.input-field-container label.has-value {
    transform: translate(-0.8rem, -2.1rem);
    font-size: 12px;
    color: var(--black);
    background-color: white;
    z-index: 2;
    padding: 0 5px;
}

.active-tab h2, .active-tab i{
    color: #9086f6;
    font-weight: medium;
}
.sub-active-tab span, .active-tab i{
    color: #9086f6;
    font-weight: medium;
}

.dropdown-expand .vertical{
    transform : rotate(180deg);
}